<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <title>Document</title>
</head>
<body>
<section id="step-3" class="registration-step">
    <div class="container">
        <div class="step-content">
            <form method="post">
                {% csrf_token %}
                <h1 class="step-title">Parol kiriting</h1>
                <p class="step-text">O’ziga hos parol o’ylab toping</p>
                <input name="password" type="password" class="input-password" placeholder="Parol" required>
                <div class="next-btn-wrap">
                    <button type="submit" class="next-btn">Tasdiqlash</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>