<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <title>Document</title>
</head>
<body>

<section id="step-2" class="registration-step">
    <div class="container">
        <div class="step-content">
            <form method="post">
                {% csrf_token %}
                <h1 class="step-title">Kodni kiriting</h1>
                <p class="step-text"><span>{{ email }}</span> pochtasiga jo’natilgan kodni kiriting</p>
                <input name="code" type="number" class="input-code" placeholder="Kodni kiriting" required>
                <div class="next-btn-wrap">
                    <button type="submit" class="next-btn">Tasdiqlash</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>