{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
<section class="login-section">
    <div class="container">
        <div class="login-content">
            <form action="{% url 'index' %}">
                <button type="submit">Back</button>
            </form>

            <h1 class="login-title">Kirish</h1>
            <form method="post" class="login-form">
                {% csrf_token %}
                <input name="email" type="email" class="login-input" placeholder="E-pochta" required>
                <input name="password" type="password" class="login-input" placeholder="Parol" required>
                <div class="login-button-wrap">
                    <button type="submit" class="login-button">Tasdiqlash</button>
                </div>
            </form>
            <div style="text-align: center; text-decoration: none">
                <a href="{% url 'register' %}">Do not have an account?</a>
            </div>
            <div style="text-align: center; text-decoration: none">
                <a style="text-align: center" href="{% url 'forgot_password' %}">Forgot password?</a>
            </div>

        </div>
    </div>
</section>
</body>
</html>