<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <aside>
        <div class="logo">
         <a href="./index.html"><img src="../../static/images/Logo%201.svg" alt="" /></a>
        </div>
        <div class="menu">
          <div class="units">
            <button><img src="../../static/images/essential-icon.svg" alt="" /> Units</button>
          </div>
          <div class="essentials">
            <button>
              <img src="../../static/images/unit-icon.svg" alt="" /> Essentials
            </button>
          </div>
        </div>
      </aside>
      <main>
        <form action="#" class="main__nav">
          <div class="search">
            <input
              type="search"
              name="problem_title"
              id=""
              placeholder="Problem title"
            />
            <button>
              <img src="../../static/images/search-icon.svg" alt="" />
            </button>
          </div>
          <div class="submit">
            <button type="submit">Qo'shish</button>
          </div>
        </form>
        <div class="unit-list">
          <ul>
            <li class="unit-list-item">
             1. Unit 1: The Lion and the Rabbit
              <div class="right">
                <span>Essential 1</span>
                <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />

                <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
              </div>
            </li>
            <li  class="unit-list-item">
             2. Unit 11: Princess Rose and the Creature
              <div class="right">
                <span>Essential 1</span>
                <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
                <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
              </div>
            </li>
            <li class="unit-list-item">
              3. Unit 1: The Lion and the Rabbit
               <div class="right">
                 <span>Essential 1</span>
                 <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
 
                 <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
               </div>
             </li>
            <li  class="unit-list-item">
             4. Unit 11: Princess Rose and the Creature
              <div class="right">
                <span>Essential 1</span>
                <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
                <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
              </div>
            </li>
            <li class="unit-list-item">
              5. Unit 1: The Lion and the Rabbit
               <div class="right">
                 <span>Essential 1</span>
                 <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
 
                 <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
               </div>
             </li>
            <li  class="unit-list-item">
             6. Unit 11: Princess Rose and the Creature
              <div class="right">
                <span>Essential 1</span>
                <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
                <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
              </div>
            </li>
            <li class="unit-list-item">
              7. Unit 1: The Lion and the Rabbit
               <div class="right">
                 <span>Essential 1</span>
                 <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
 
                 <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
               </div>
             </li>
            <li  class="unit-list-item">
             6. Unit 11: Princess Rose and the Creature
              <div class="right">
                <span>Essential 1</span>
                <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
                <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
              </div>
            </li>
            <li class="unit-list-item">
              7. Unit 1: The Lion and the Rabbit
               <div class="right">
                 <span>Essential 1</span>
                 <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
 
                 <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
               </div>
             </li>
            <li  class="unit-list-item">
             6. Unit 11: Princess Rose and the Creature
              <div class="right">
                <span>Essential 1</span>
                <img src="../../static/images/edit-2%20copy%203.svg" alt="edit" />
                <img src="../../static/images/edit-2%20copy%204.svg" alt="delete" />
              </div>
            </li>
           
          </ul>
        </div>
      </main>
    </div>

    <!-- Modals -->

    <!-- Delete modal -->

    <!-- <div class="overlay"></div> -->

    <div class="modal-delete modal hidden">
      <h1>O’chirishni hohlaysizmi ?</h1>
      <p>
        Haqiqatan ham “Unit 1” ni o‘chirib tashlamoqchimisiz? Bu amalni ortga
        qaytarib bo‘lmaydi.
      </p>
      <div class="buttons">
        <button class="cancel-btn unversal-btn" type="reset">Orqaga</button>
        <button class="unversal-btn delte-btn" type="submit">O'chirish</button>
      </div>
    </div>

    <!-- Topic change -->

    <div class="modal hidden">
      <form action="#">
        <h1>Mavzu o’zgartirish</h1>
        <input
          type="text"
          name="topic name"
          placeholder="Nomi"
          id=""
          
        />
       
        <div class="books-group">
          <div class="books-dropdown-wrapper">
              <input type="text" id="books-input" placeholder="Kitob" readonly>
              <img class="dropdown-icon" src="../../static/images/Vector.svg" alt="Dropdown arrow">
          </div>
          <ul class="books-dropdown-options">
              <li class="books-dropdown-option">Essential 1</li>
              <li class="books-dropdown-option">Essential 2 </li>                      
              <li class="books-dropdown-option">Essential 3</li>
          </ul>
      </div>


        <div class="file-uploader">
          <label for="file-input">
            <span><img src="../../static/images/file-icon.svg" alt=""> Fayl joylang</span>
          </label>
          <input type="file" id="file-input" />
        </div>
       

        <div class="buttons">
          <button class="cancel-btn unversal-btn" type="reset">Orqaga</button>
          <button class="unversal-btn add-btn" type="submit">Qo'shish</button>
        </div>
      </form>
    </div>

    <!-- Add topic -->

    <div class="modal hidden">
      <form action="#" >
        <h1>Kitob qo’shish</h1>
        <input type="text" name="topic name" placeholder="Nomi" id="" />
        
        <div class="buttons">
          <button class="cancel-btn unversal-btn" type="reset">Orqaga</button>
          <button class="unversal-btn add-btn" type="submit">Qo'shish</button>
        </div>
      </form>
    </div>
  </body>
  <script src="../../static/js/main.js"></script>
</html>
